<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Agregar el favicon usando un enlace directo -->
    <link rel="icon" href="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" type="image/png">
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>ChatBot Preguntas Frecuentes ESPE</span>
                                <p>Ask me anything!</p>
                            </div>
                        </div>
                    </div>
                    <div id="chat-box" class="card-body msg_card_body">
                        <!-- Mensajes del chat aparecerán aquí -->
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <textarea id="user-input" class="form-control type_msg" placeholder="Escribe tu mensaje..." autocomplete="off"></textarea>
                            <div class="input-group-append">
                                <button type="submit" id="send-btn" class="input-group-text send_btn"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
